<div class="container">
    
    <div class="row" style=" padding:40px 0;margin-bottom: 30px; background:url(http://static2.businessinsider.com/image/57a8afa7ce38f252008b552e-1200/final-fantasy-xv-takes-place-in-eos-a-beautiful-world-that-mixes-elements-of-sci-fi-and-fantasy.jpg) 50% 20%;color:white;font-family:cursive">
        <div class="col-md-4">
            <div class="header" >
              <p id="notice"><%= notice %></p>
              <h2>----Khiem's Blog----</h2>
            </div>
        </div>  
        <div class="col-md-8"  >
            <nav class="navbar navbar-dark bg-inverse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home Page <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/10">About Me </a>
                    </li>
                </ul>
                <%= form_tag("/", method: "get",class:'form-inline pull-xs-right') do %>
                  <%= text_field_tag :search, params[:search], placeholder: "Search Posts", class:'form-control' %>
                  <%= submit_tag("Search",class:'btn btn-outline-info') %>
                <% end %>

            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">   
			   <div class="card-block" style="text-align:center">   
			        <h3 class="card-title" style="text-transform:capitalize">
			            <%= @artical.title %>   
			        </h3>
			        <hr>
			        <p class="card-text" >
            			<%= @markdown.render(@artical.body).html_safe %>   
			        </p>
			    </div>
			    <div class="card-footer">
				    <div style="text-align:end">
					    <%= link_to 'Edit', edit_artical_path(@artical), class:'btn btn-warning' %>
						<%= link_to 'Back', articals_path, class:'btn btn-success' %>
				        <%= link_to 'DELETE', @artical,class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
			        </div>
			    </div>
			</div>
        </div>
	    
    </div>
 	<br>
	
</div>